html, body {
	font: 13px/18px "Tahoma", sans-serif;
	margin: 0px;
	padding: 0px;
	color: #333;
}

body {
	background-color: #dee1e6;
}

body > div {
	width: 720px;
	margin: 0px auto;
}

#countries > .country, #countries > .loading {
	background-color: #f4f4f4;
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid #c4c8ce;
	border-radius: 3px;
}

#countries > .loading {
	background-image: url("/img/country_loader.gif");
	background-position: 5px 50%;
	background-repeat: no-repeat;
	text-indent: 15px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: #444;
	text-shadow: 0px 1px 0px white;
}

h1 em {
	font-size: 13px;
	font-weight: normal;
	color: #666;
	font-style: italic;
	text-shadow: 0px 1px 0px white;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	
}

h3 em {
	float: right;
	font-style: normal;
	font-size: 12px;
	line-height: 18px;
	color: #999;
}

a.latest_news {
	background-color: #cdd6db;
	border-radius: 2px;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	display: block;
	padding: 1px;
	border: 1px solid #C8D6DB;
	color: #7D8D91;
	text-decoration: none;
	margin-top: 5px;
}

a.latest_news:hover {
	background-color: #C8D6DB;
	color: #556B70;
}

a.latest_news[disabled] {
	background: url("/img/news_loader.gif") no-repeat left;
	background-color: #DDD !important;
	color: #999 !important;
	border-color: #CCC;
}

.news ul {
	margin: 5px 0px;
	padding: 0px;
}

.news li {
	position: relative;
	margin: 0px;
	padding: 5px;
	list-style-type: none;
	border-top: 1px solid #DDD;
}

h4 {
	margin: 0px 50px 0px 0px;
	color: #777;
	font-weight: normal;
	font-size: 13px;
	font-family: Georgia;
	font-style: italic;
}

h4:before {
	content: '\201C';
	height: 0;
	margin-left: -0.55em;
}

.news span {
	position: absolute;
	top: 5px;
	right: 5px;
}

.news a.sad,
.news a.neutral,
.news a.happy {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	overflow: hidden;
}

.news a.inactive {
	opacity: .25;
}

.news a.active {
	opacity: 1;
}

.news a:hover {
	opacity: 1;
}

.news a.sad {
	background: url("/img/emoticon_unhappy.png") no-repeat;
}

.news a.neutral {
	background: url("/img/emoticon_tongue.png") no-repeat;
}
.news a.happy {
	background: url("/img/emoticon_smile.png") no-repeat;
}

.country h3 {
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 20px;
}

#us h3 {
	background-image: url("/img/us.png");
}

#cn h3 {
	background-image: url("/img/cn.png");
}

#de h3 {
	background-image: url("/img/de.png");
}

#fr h3 {
	background-image: url("/img/fr.png");
}

#uk h3 {
	background-image: url("/img/gb.png");
}

#br h3 {
	background-image: url("/img/br.png");
}

#br h3 {
	background-image: url("/img/br.png");
}

#it h3 {
	background-image: url("/img/it.png");
}

#in h3 {
	background-image: url("/img/in.png");
}

#ca h3 {
	background-image: url("/img/ca.png");
}

#ru h3 {
	background-image: url("/img/ru.png");
}

footer {
	font-size: 11px;
	color: #999;
	text-align: center;
}

.mood_0 { color: #af2f2f; }
.mood_1 { color: #d14f4f; }
.mood_2 { color: #cc7b4d; }
.mood_3 { color: #cc934d; }
.mood_4 { color: #ccaa4d; }
.mood_5 { color: #ccce4e; }
.mood_6 { color: #bbcc4d; }
.mood_7 { color: #a6cc4d; }
.mood_8 { color: #8ecc4d; }
.mood_9 { color: #64cc4d; }
.mood_10 { color: #4dcc5e; }

@media all and (max-width: 750px) {
	body > div {
	  width: 75%;
	}
}

@media all and (max-width: 480px) {
	body {
		padding: 5px;
	}
	body > div {
	  width: 100%;
	}
}